.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: #f4f5f4;
  padding: 0 32px;
  position: relative;
}

.logoSection {
  display: flex;
  align-items: center;
}

.logoIcon {
    width: 32px;
    height: 32px;
    display: flex;
    background: linear-gradient(90deg, #ee2a7b, #fbbe3d, #2ac1fa);
    border-radius: 8px;
    text-align: center;
    margin-right: 8px;
    flex-direction: column;
    justify-content: center;
}

.logoText {
  font-size: 1.5rem;
  font-weight: 400;
  color: #222;
}

.logoBold {
  font-weight: 700;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-size: 1.1rem;
      cursor: pointer;
      color: #111;
      &.active {
        color: #3fd561;
      }
    }
  }
  .bookRepair {
    margin-left: 40px;
    background: #50b4a3;
    color: white;
    padding: 16px 40px;
    border: none;
    border-radius: 14px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.02);
  }
}

.mobileMenuBtn {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  span {
    display: block;
    height: 4px;
    width: 100%;
    background: #222;
    border-radius: 2px;
  }
}

@media (max-width: 800px) {
  .nav {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #f4f5f4;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    ul {
      flex-direction: column;
      gap: 24px;
      padding: 16px 0;
      li {
        padding: 8px 16px;
      }
    }
    .bookRepair {
      margin: 18px;
      width: calc(100% - 36px);
      padding: 16px 0;
    }
  }
  .navMobileOpen {
    display: flex;
  }
  .mobileMenuBtn {
    display: flex;
  }
}
